### 1.Data Extraction using kaggle

In [1]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
import zipfile
import pandas as pd
import os

# Define the file paths
zip_file_path = "F://Jupyter Notebook//1.Retail Order Data Analysis//orders.csv.zip"  # Change to your actual zip file path
extract_folder = "F://Jupyter Notebook//1.Retail Order Data Analysis"

# Extract the zip file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_folder)

# Find the extracted CSV file
csv_file = None
for file in os.listdir(extract_folder):
    if file.endswith(".csv"):
        csv_file = os.path.join(extract_folder, file)
        break

# Load the CSV file into a DataFrame
if csv_file:
    df = pd.read_csv(csv_file)
    print("Dataset loaded successfully:")
    print(df.head())
else:
    print("No CSV file found in the extracted data.")

Dataset loaded successfully:
   Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2

   Discount Percent
0                 2
1                 3
2                 5
3                 2
4                 5

In [3]:
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

### 2.Data Cleaning

#### 1.Renaming columns

In [4]:
df.rename(columns={
    'Order Id': 'order_id',
    'Order Date': 'order_date',
    'Ship Mode': 'ship_mode',
    'Segment': 'segment',
    'Country': 'country',
    'City': 'city',
    'State': 'state',
    'Postal Code': 'postal_code',
    'Region': 'region',
    'Category': 'category',
    'Sub Category': 'sub_category',
    'Product Id': 'product_id',
    'cost price': 'cost_price',  
    'List Price': 'list_price',
    'Quantity': 'quantity',
    'Discount Percent': 'discount_percent'
}, inplace=True)

In [5]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [6]:
[int(df[i].isnull().sum()) for i in df.columns]

[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### 2.Handling missing values

##### 1.Replace missing numerical values with defaults like 0

In [7]:
# Find the columns having numberical values
numerical_columns = df.select_dtypes('number').columns
numerical_columns

Index(['order_id', 'postal_code', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [8]:
# Checking any null is present in numerical_columns
[int(df[i].isnull().sum()) for i in numerical_columns]

[0, 0, 0, 0, 0, 0]

In [9]:
#If null present we can replace "null" by "0"
df[numerical_columns] = df[numerical_columns].fillna(0)

##### 2.Drop rows with critical missing fields

In [10]:
rows_with_null_value = df[df['ship_mode'].isnull()]
print(rows_with_null_value)

     order_id  order_date ship_mode    segment        country     city  \
118       119  2023-07-19       NaN  Corporate  United States  Bristol

         state  postal_code region         category sub_category  \
118  Tennessee        37620  South  Office Supplies      Binders

          product_id  cost_price  list_price  quantity  discount_percent
118  OFF-BI-10003650         140         160         1                 5

In [11]:
# So need to remove this 1 row alone
df# Before removing rows_with_null_value

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [12]:
# Drop row(s) where column 'ship_mode' contains a null value
df.dropna(subset=['ship_mode'], inplace=True)

In [13]:
df# After removing rows_with_null_value

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [14]:
[int(df[i].isnull().sum()) for i in df.columns]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

#### 3.Trimming Spaces

In [15]:
# Find the columns having text values
text_fields_columns = df.select_dtypes('object').columns
text_fields_columns

Index(['order_date', 'ship_mode', 'segment', 'country', 'city', 'state',
       'region', 'category', 'sub_category', 'product_id'],
      dtype='object')

In [16]:
# Remove trailing spaces from text fields
[df[i].str.rstrip() for i in text_fields_columns]

[0       2023-03-01
 1       2023-08-15
 2       2023-01-10
 3       2022-06-18
 4       2022-07-13
            ...
 9989    2023-02-18
 9990    2023-03-17
 9991    2022-08-07
 9992    2022-11-19
 9993    2022-07-17
 Name: order_date, Length: 9993, dtype: object,
 0         Second Class
 1         Second Class
 2         Second Class
 3       Standard Class
 4       Standard Class
              ...
 9989      Second Class
 9990    Standard Class
 9991    Standard Class
 9992    Standard Class
 9993      Second Class
 Name: ship_mode, Length: 9993, dtype: object,
 0        Consumer
 1        Consumer
 2       Corporate
 3        Consumer
 4        Consumer
           ...
 9989     Consumer
 9990     Consumer
 9991     Consumer
 9992     Consumer
 9993     Consumer
 Name: segment, Length: 9993, dtype: object,
 0       United States
 1       United States
 2       United States
 3       United States
 4       United States
             ...
 9989    United States
 9990    United States
 9991    United States
 9992    United States
 9993    United States
 Name: country, Length: 9993, dtype: object,
 0             Henderson
 1             Henderson
 2           Los Angeles
 3       Fort Lauderdale
 4       Fort Lauderdale
              ...
 9989              Miami
 9990         Costa Mesa
 9991         Costa Mesa
 9992         Costa Mesa
 9993        Westminster
 Name: city, Length: 9993, dtype: object,
 0         Kentucky
 1         Kentucky
 2       California
 3          Florida
 4          Florida
            ...
 9989       Florida
 9990    California
 9991    California
 9992    California
 9993    California
 Name: state, Length: 9993, dtype: object,
 0       South
 1       South
 2        West
 3       South
 4       South
         ...
 9989    South
 9990     West
 9991     West
 9992     West
 9993     West
 Name: region, Length: 9993, dtype: object,
 0             Furniture
 1             Furniture
 2       Office Supplies
 3             Furniture
 4       Office Supplies
              ...
 9989          Furniture
 9990          Furniture
 9991         Technology
 9992    Office Supplies
 9993    Office Supplies
 Name: category, Length: 9993, dtype: object,
 0         Bookcases
 1            Chairs
 2            Labels
 3            Tables
 4           Storage
            ...
 9989    Furnishings
 9990    Furnishings
 9991         Phones
 9992          Paper
 9993     Appliances
 Name: sub_category, Length: 9993, dtype: object,
 0       FUR-BO-10001798
 1       FUR-CH-10000454
 2       OFF-LA-10000240
 3       FUR-TA-10000577
 4       OFF-ST-10000760
              ...
 9989    FUR-FU-10001889
 9990    FUR-FU-10000747
 9991    TEC-PH-10003645
 9992    OFF-PA-10004041
 9993    OFF-AP-10002684
 Name: product_id, Length: 9993, dtype: object]

#### 4.Deriving new columns discount amount, sale price and profit

In [17]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [18]:
df["discount_amount"] = ((df["discount_percent"] / 100) * df["list_price"])
df["sale_price"] = (df["list_price"] - df["discount_amount"])
df["total_revenue"] = (df["sale_price"] * df["quantity"])
df["total_cost"] = (df["cost_price"] * df["quantity"])
df["profit"] = (df["total_revenue"] - df["total_cost"])
#Note : To convert NumPy int64 to Python int (use ".astype(float)")

In [19]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount_amount     float64
sale_price          float64
total_revenue       float64
total_cost            int64
profit              float64
dtype: object

In [20]:
# # convert remaing columns (int64 to float)
# df["order_id"]=df["order_id"].astype(float)
# df["postal_code"]=df["postal_code"].astype(float)
# df["cost_price"]=df["cost_price"].astype(float)
# df["list_price"]=df["list_price"].astype(float)
# df["quantity"]=df["quantity"].astype(float)
# df["discount_percent"]=df["discount_percent"].astype(float)

### 3.Data loading in to MySQL database

In [21]:
# To avoid this "OperationalError: (1305, 'FUNCTION np.float64 does not exist')" 
# It occurs because tuple(df.iloc[i]) may contain NumPy data types (np.float64, np.int64), which MySQL does not recognize. 
# You need to convert them into native Python types before inserting the data.

In [22]:
import pandas as pd
import pymysql
import numpy as np
myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='root')

database_name = "retail_orders" #input("Enter Your Database Name : ")
table_name = "retail_order_table" # input("Enter Your Table Name : ")
dtype_mapping = {
    'int64': 'INTEGER',
    'float64': 'FLOAT',
    'object': 'TEXT',
    'datetime64[ns]': 'DATETIME',
    'bool': 'BOOLEAN'
}
columns = ",".join(f"{col} {dtype_mapping[str(dtype)]}" for col, dtype in zip(df.columns, df.dtypes))

create_table_query = f"CREATE TABLE {database_name}.{table_name} ({columns});"
myconnection.cursor().execute(create_table_query)

for i in range(0,len(df)):
    myconnection.cursor().execute(f"insert into {database_name}.{table_name} values {tuple(df.iloc[i])}")
    myconnection.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '[(1, '2023-03-01', 'Second Class', 'Consumer', 'United States', 'Henderson', 'Ke' at line 1")

In [1]:
pd.read_sql_query("select * from captain_america.retail_order_data_analysis",myconnection)

NameError: name 'pd' is not defined

### 4.Business Insights through SQL Queries

In [29]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,...,product_id,cost_price,list_price,quantity,discount_percent,discount_amount,sale_price,total_revenue,total_cost,profit
0,1.0,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,...,FUR-BO-10001798,240.0,260.0,2.0,2.0,5.2,254.8,509.6,480.0,29.6
1,2.0,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420.0,South,Furniture,...,FUR-CH-10000454,600.0,730.0,3.0,3.0,21.9,708.1,2124.3,1800.0,324.3
2,3.0,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036.0,West,Office Supplies,...,OFF-LA-10000240,10.0,10.0,2.0,5.0,0.5,9.5,19.0,20.0,-1.0
3,4.0,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,Furniture,...,FUR-TA-10000577,780.0,960.0,5.0,2.0,19.2,940.8,4704.0,3900.0,804.0
4,5.0,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,Office Supplies,...,OFF-ST-10000760,20.0,20.0,2.0,5.0,1.0,19.0,38.0,40.0,-2.0

#### 1.Top-Selling Products

In [ ]:
# Identify the products that generate the highest revenue based on sale prices.
SELECT product_id, sub_category, category, sum(total_revenue) AS total_sales
FROM sales_data
GROUP BY product_id, sub_category, category
ORDER BY total_sales desc
LIMIT 5;

#### 2.Monthly Sales Analysis

In [ ]:
# Compare year-over-year sales to identify growth or decline in certain months.
SELECT 
    YEAR(order_date) AS year,
    MONTH(order_date) AS month,
    SUM(total_revenue) AS monthly_sales
FROM sales_data
GROUP BY YEAR(order_date), MONTH(order_date)
ORDER BY month, year;

#### 3.Product Performance

In [ ]:
# Use functions like GROUP BY, HAVING, ROW_NUMBER(), and CASE WHEN to categorize and rank products by their revenue, profit margin, etc.
WITH ProductPerformance AS (
    SELECT 
        product_id, 
        sub_category, 
        category, 
        SUM(total_revenue) AS total_sales,
        SUM(profit) AS total_profit,
        (SUM(profit) / NULLIF(SUM(total_revenue), 0)) * 100 AS profit_margin,
        
        -- Categorizing Products Based on Sales
        CASE 
            WHEN SUM(total_revenue) > 5000 THEN 'High Performer'
            WHEN SUM(total_revenue) BETWEEN 1000 AND 5000 THEN 'Moderate Performer'
            ELSE 'Low Performer'
        END AS performance_category,

        ROW_NUMBER() OVER (ORDER BY SUM(total_revenue) DESC) AS revenue_rank,
        ROW_NUMBER() OVER (ORDER BY SUM(profit) DESC) AS profit_rank
    FROM sales_data
    GROUP BY product_id, sub_category, category
)
SELECT * FROM ProductPerformance
ORDER BY revenue_rank;

#### 4.Regional Sales Analysis

In [ ]:
# Query sales data by region to identify which areas are performing best.
SELECT 
    region,
    SUM(total_revenue) AS total_sales,
    SUM(profit) AS total_profit,
    COUNT(DISTINCT order_id) AS total_orders,
    ROUND((SUM(profit) / NULLIF(SUM(total_revenue), 0)) * 100, 2) AS profit_margin
FROM sales_data
GROUP BY region
ORDER BY total_sales DESC;

#### 5.Discount Analysis

In [ ]:
# Identify products with discounts greater than 20% and calculate the impact of discounts on sales.
WITH DiscountedSales AS (
    SELECT 
        product_id, 
        sub_category, 
        category, 
        SUM(total_revenue) AS total_sales,
        SUM(profit) AS total_profit,
        COUNT(order_id) AS total_orders,
        ROUND((SUM(profit) / NULLIF(SUM(total_revenue), 0)) * 100, 2) AS profit_margin,
        discount_percent,
        
        -- Categorizing Discount Levels
        CASE 
            WHEN discount_percent > 20 THEN 'High Discount (>20%)'
            WHEN discount_percent BETWEEN 10 AND 20 THEN 'Medium Discount (10-20%)'
            ELSE 'Low Discount (<10%)'
        END AS discount_category
    FROM sales_data
    GROUP BY product_id, sub_category, category, discount_percent
)
SELECT * FROM DiscountedSales
ORDER BY discount_percent DESC, total_sales DESC;

### 5.Queries

#### 1.Find the Top 10 Highest Revenue-Generating Products

In [ ]:
SELECT product_id, sub_category, category, SUM(total_revenue) AS total_sales
FROM sales_data
GROUP BY product_id, sub_category, category
ORDER BY total_sales DESC
LIMIT 10;

#### 2.Find the Top 5 Cities with the Highest Profit Margins

In [ ]:
SELECT city, 
       ROUND((SUM(profit) / NULLIF(SUM(total_revenue), 0)) * 100, 2) AS profit_margin
FROM sales_data
GROUP BY city
ORDER BY profit_margin DESC
LIMIT 5;

#### 3. Calculate the Total Discount Given for Each Category

In [ ]:
SELECT category, SUM(discount_amount) AS total_discount
FROM sales_data
GROUP BY category
ORDER BY total_discount DESC;

#### 4.Find the Average Sale Price per Product Category

In [ ]:
SELECT category, 
       ROUND(AVG(sale_price), 2) AS avg_sale_price
FROM sales_data
GROUP BY category
ORDER BY avg_sale_price DESC;

#### 5.Find the Region with the Highest Average Sale Price

In [ ]:
SELECT region, 
       ROUND(AVG(sale_price), 2) AS avg_sale_price
FROM sales_data
GROUP BY region
ORDER BY avg_sale_price DESC
LIMIT 1;

#### 6.Find the Total Profit per Category

In [ ]:
SELECT category, 
       SUM(profit) AS total_profit
FROM sales_data
GROUP BY category
ORDER BY total_profit DESC;

#### 7.Identify the Top 3 Segments with the Highest Quantity of Orders

In [ ]:
SELECT segment, 
       SUM(quantity) AS total_quantity
FROM sales_data
GROUP BY segment
ORDER BY total_quantity DESC
LIMIT 3;

#### 8.Determine the Average Discount Percentage Given per Region

In [ ]:
SELECT region, 
       ROUND(AVG(discount_percent), 2) AS avg_discount_percent
FROM sales_data
GROUP BY region
ORDER BY avg_discount_percent DESC;

#### 9.Find the Product Category with the Highest Total Profit

In [ ]:
SELECT category, 
       SUM(profit) AS total_profit
FROM sales_data
GROUP BY category
ORDER BY total_profit DESC
LIMIT 1;

#### 10. Calculate the Total Revenue Generated Per Year

In [ ]:
SELECT YEAR(order_date) AS year, 
       SUM(total_revenue) AS total_revenue
FROM sales_data
GROUP BY YEAR(order_date)
ORDER BY year DESC;

### 6.Using Streamlit